<%#=
# user - _resource.html.erb
#
# university:       University of Applied Sciences Salzburg
# degree course:    MultiMediaTechnology (BSc)
# usage:	        Multimediaprojekt 3 (MMP3)
# authors:          Stephan Griessner
#                   Manuel Mitterer
#                   Franziska Oberhauser
%>

<div class="resource-container" data-id="<%= resource.id %>">

    <%= render :partial => index_partial_for( resource.medium ), locals: { resource: resource } %>

    <div class="media-details">
        <h3><%= link_to short_text(resource.title, 28), medium_path(resource) %></h3>
        <p>published <%= set_time_difference(resource.created_at) %></p>
        <p><%= resource.views %> views</p>
        <%= content_tag(:div, nil, class: "media-icon #{resource.medium_type.downcase}-icon") %>
    </div>

    <% if can? :manage, resource %>
        <div class="resource-manage <%= "not-active" unless resource.active? %>">
            <% if !resource.active? %>
                <span class="resource-info">Location/Track missing</span>
            <% end %>
            <div class="resource-actions">
                <%= link_to "Edit", edit_medium_path(resource) %> |
                <%= link_to "Delete", medium_path(resource), data: { confirm: "Are you sure?" }, method: :delete, remote: true %>
            </div>
        </div>
    <% end %>
</div>