<%#=
# user - _user_info.html.erb
#
# university:       University of Applied Sciences Salzburg
# degree course:    MultiMediaTechnology (BSc)
# usage:	        Multimediaprojekt 3 (MMP3)
# authors:          Stephan Griessner
#                   Manuel Mitterer
#                   Franziska Oberhauser
%>

<h1><%= user.username %></h1>

<div id="profile-pic">
    <%= image_tag(user.image_url("large"), alt: user.name, class: "provider-pic") %>
</div>

<div id="profile-information">
    <% if !user.private || current_user == user %>

        <% if user.name.present? %>
            <p><%= display_name(user.gender, user.name) %></p>
        <% end %>

        <% if user.birthday.present? %>
            <p>Birthday: <%= user.birthday %></p>
        <% end %>

        <% if user.country.present? %>
            <p>From: <%= "#{user.country.name} (#{user.country.code})" %></p>
        <% end %>

        <p>Member since <%= l user.created_at.to_date %></p>

        <% unless current_user.nil? || !user.allowcontact%>
            <%= link_to_unless(current_page?(profile_path(current_user.username)), 'Send Message', usermessage_path(user.username), class: "profile-message"){}  %>
        <% end %>

        <% if current_user == user %>
            <div class="storage-limit" data-value="700">
                <div class="storage-used" style="width: <%= number_with_precision((user.size_of_uploads/(1024*1024)*100/700), precision: 2) %>%;"></div>
                <p class="storage-actual"><%= number_with_precision(user.size_of_uploads/(1024*1024), precision: 2) %> MB / 700 MB used</p>
            </div>
        <% end %>

    <% end %>
</div>